[submodule "bundler"]
	path = bundler
	url = https://github.com/bundler-project/bundler
[submodule "iperf"]
	path = iperf
	url = https://github.com/ccp-project/iperf
[submodule "empirical-traffic-gen"]
	path = empirical-traffic-gen
	url = https://github.com/ccp-project/empirical-traffic-gen
[submodule "nimbus"]
	path = nimbus
	url = https://github.com/ccp-project/nimbus
[submodule "mahimahi"]
	path = mahimahi
	url = https://github.com/fcangialosi/mahimahi.git
[submodule "udping"]
	path = udping
	url = https://github.com/akshayknarayan/udping.git
[submodule "ccp_copa"]
	path = ccp_copa
	url = https://github.com/akshayknarayan/ccp_copa/
